@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }

  .background-color1{
    background-color: rgba(255, 144, 14, 0.1);
  }

  /* shared style */
  .display-flex{
    display: flex;
  }
  .color-Dark-01{
    color: rgba(19, 19, 19, 1);
  }
  .color-Dark-02{
    color: rgba(66, 66, 66, 1);
  }
  .color-Dark-03{
    color: rgba(114, 114, 114, 1);
  }

  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  main > section{
    margin-top: 130px;
  }
/* header style */


/* nav bar related style */

.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 35px;
}
.brand-name{
    font-size: 2.8rem;
    font-weight: bold;
}
.nav-link{
    text-decoration: none;
}
.nav-bar, .banner{
    max-width: 1440px ;
    margin: 0 auto;
}

/* banner style */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
}
.banner-description{
    font-size: 1rem;
}
.banner-button{
    background-color: rgba(255, 144, 14, 1);
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding:20px 23px;
    border-radius: 8px;
    border: none;
    margin-bottom: 40px;
}
.banner-img{
  width: 100%;
}

/* team and future style */
.teams{
  align-items: center;
}
.teams-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.teams-future{
  margin-left: 130px;
  max-width: 530px;
}
.future-button{
  background-color: rgba(255, 144, 14, 1);
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding:20px 23px;
    border-radius: 8px;
    border: none;
    margin-bottom: 40px;
}
.future-title{
  font-size: 2.83rem;
  font-weight: 700;
}
.quick{
  font-weight: 500;
}
.features{
  color:rgba(255, 144, 14, 1) ;
  font-weight: bold;
}
.future-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 28px;
}

/* card style */
.card-title{
  font-size: 2.83rem;
  font-weight: bold;
}
.fact-card{
  border: 2px solid goldenrod;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number{
  font-size: 2.3rem;
  font-weight: 500px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.fact-name{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
}
.card-descreption{
  max-width: 540px;
}
.factore-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.sponsors-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsors-company{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsors-company img{
  filter: grayscale(100%);
  
}

.features2-title{
  font-size: 2.6rem;
  font-weight: bold;
  border-left: 5px solid goldenrod;
  padding: 18px;
}
.box-title{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px ;
  margin-top: 0px;
}
.box-description{
  font-size: 16px;
  font-weight: 400;
}
.features2-box{
 padding: 30px;
 box-shadow: 0px 4px 8px rgb(211, 210, 210);
 border-radius: 8px;
 margin-bottom: 20px;
}
.features2{
  gap: 90px;
}

.features2-button{
background-color: rgb(255, 200, 61);
border-radius: 8px;
color: white;
padding: 45px 42px;
margin-left: -70px;
margin-top:-80px ;
}
.year{
  font-size: 4rem;
  font-weight: bold;
}
.exper{
  font-size: 25px;
  font-weight: 600;
}

/* responsive media queary  */

@media screen and (max-width:675px) {
  .nav-bar, .nav-link{
    flex-direction: column;
  }
  .teams {
    flex-direction: column;
  }
  .teams-img{
    grid-template-columns: repeat(1,1fr);
  }
  .teams-future{
    margin-left: 5px;
  }
  .factore-container{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap: 20px;
  }
  .sponsors-company{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    justify-items: center;
  }
  .features2 {
    flex-direction: column;
  }
  .features2-imag{
    width: 100%;
  }
  .features2-button{
    margin-top: 10px;
    margin-left: 10px ;
  }
}